@model ASMechanics.Websites.Core.Models.Pages.StandardPageVm

@{
    Layout = "Master.cshtml";
}

<h3>Main Heading:</h3>
<p>@Model.MainHeader</p>

<h3>Main Content:</h3>
<p>@Model.SubHeader</p>

<p>test</p>