@model ASMechanics.Websites.Core.Models.Pages.StandardPageVm

@{
    Layout = "Master.cshtml";
}

<h3>Main header:</h3>
<p>@Model.MainHeader</p>

<h3>Sub header:</h3>
<p>@Model.SubHeader</p>

<h3>Content Text:</h3>
<p>@Html.Raw(Model.ContentText.Content)</p>