<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT BannerComponent ANY>
<!ATTLIST BannerComponent id ID #REQUIRED>
<!ELEMENT ErrorPage ANY>
<!ATTLIST ErrorPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT ImageSliderComponent ANY>
<!ATTLIST ImageSliderComponent id ID #REQUIRED>
<!ELEMENT Pages ANY>
<!ATTLIST Pages id ID #REQUIRED>
<!ELEMENT SidePageComponents ANY>
<!ATTLIST SidePageComponents id ID #REQUIRED>
<!ELEMENT TemplatePage ANY>
<!ATTLIST TemplatePage id ID #REQUIRED>
<!ELEMENT TopPageComponents ANY>
<!ATTLIST TopPageComponents id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1080" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-12-14T00:35:36" updateDate="2014-12-15T11:30:22" nodeName="Home Page" urlName="home-page" path="-1,1080" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="HomePage">
    <pageTitle>ASMechanics</pageTitle>
    <metadataDescription />
    <metadataKeywords />
    <topPageComponent><![CDATA[]]></topPageComponent>
    <sidePageComponents><![CDATA[]]></sidePageComponents>
    <mainHeader>Home page main header</mainHeader>
    <subHeader>Sub page main header</subHeader>
    <contentText><![CDATA[<p>Content text</p>
<ul>
<li>list item</li>
<li>list item</li>
</ul>
<p><strong>Bold font</strong></p>
<p><a href="http://www.bbc.co.uk" target="_blank" title="bbc website">This is a link to external page</a></p>
<p><a href="/{localLink:1080}" target="_blank" title="Home Page"><img width="158" height="120" src="/media/1001/logo.png" alt="Logo"/></a></p>]]></contentText>
    <TemplatePage id="1091" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2014-12-22T23:39:32" updateDate="2014-12-22T23:50:53" nodeName="About Us" urlName="about-us" path="-1,1080,1091" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="TemplatePage">
      <pageTitle>About us</pageTitle>
      <metadataDescription>Description</metadataDescription>
      <metadataKeywords>Keywords</metadataKeywords>
    </TemplatePage>
  </HomePage>
  <SidePageComponents id="1084" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2014-12-14T00:50:27" updateDate="2014-12-14T00:50:31" nodeName="Side Page Components" urlName="side-page-components" path="-1,1084" isDoc="" nodeType="1079" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="SidePageComponents" />
</root>