<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT ErrorPage ANY>
<!ATTLIST ErrorPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT MainMenu ANY>
<!ATTLIST MainMenu id ID #REQUIRED>
<!ELEMENT Pages ANY>
<!ATTLIST Pages id ID #REQUIRED>
<!ELEMENT SidePageComponents ANY>
<!ATTLIST SidePageComponents id ID #REQUIRED>
<!ELEMENT TemplatePage ANY>
<!ATTLIST TemplatePage id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1102" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-12-29T22:29:17" updateDate="2014-12-29T22:29:37" nodeName="Home" urlName="home" path="-1,1102" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="HomePage">
    <pageTitle>Home</pageTitle>
    <metadataDescription>
    </metadataDescription>
    <metadataKeywords>
    </metadataKeywords>
    <mainHeader>sdfsf</mainHeader>
    <subHeader>sfs</subHeader>
    <contentText><![CDATA[<p>fsfsdfs</p>]]></contentText>
    <TemplatePage id="1103" parentID="1102" level="2" creatorID="0" sortOrder="0" createDate="2014-12-29T22:29:49" updateDate="2014-12-29T22:29:55" nodeName="About Us" urlName="about-us" path="-1,1102,1103" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="TemplatePage">
      <pageTitle>about us</pageTitle>
      <metadataDescription>
      </metadataDescription>
      <metadataKeywords>
      </metadataKeywords>
    </TemplatePage>
    <TemplatePage id="1104" parentID="1102" level="2" creatorID="0" sortOrder="1" createDate="2014-12-29T22:30:08" updateDate="2014-12-29T22:30:17" nodeName="Services" urlName="services" path="-1,1102,1104" isDoc="" nodeType="1090" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="TemplatePage">
      <pageTitle>Services</pageTitle>
      <metadataDescription>
      </metadataDescription>
      <metadataKeywords>
      </metadataKeywords>
    </TemplatePage>
    <MainMenu id="1105" parentID="1102" level="2" creatorID="0" sortOrder="2" createDate="2014-12-29T22:33:05" updateDate="2014-12-30T15:31:05" nodeName="Main Menu" urlName="main-menu" path="-1,1102,1105" isDoc="" nodeType="1095" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="MainMenu">
      <mainMenu>
        <links>
          <link title="Home" link="1102" type="internal" newwindow="0" />
          <link title="About Us" link="1103" type="internal" newwindow="0" />
          <link title="Services" link="1104" type="internal" newwindow="0" />
        </links>
      </mainMenu>
    </MainMenu>
  </HomePage>
</root>